html {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

main {
  margin-top: 60px;
}

.indent {
  padding-left: 40px;
  padding-right: 40px;
}

.Select {
  background: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 13px !important;
}

.border {
  border: 1px solid rgb(163, 161, 161);
}

.MuiOutlinedInput-input {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.TableWrapper {
  overflow-x: auto;
}

.CollectionItemsTab .menu {
  padding: 10px 0;
}

.CollectionItemsTab .menu > *:not(:last-child) {
  margin-right: 15px;
}

a {
  text-decoration: none;
}

.Scroll-container {
  height: calc(100vh - 184.55px - 64px - 30px - 64px - 80px);
  overflow: auto;
}

.OrderTab {
  display: flex;
}

.OrderTab > *:first-child {
  margin-right: 30px;
}

.OrderTab .MuiListItem-root {
  min-width: 200px;
}

.form-grid {
  display: grid;
  grid-template-columns: 200px 1fr;
  max-width: 500px;
  align-items: center;
  grid-gap: 10px;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -490px 0;
  }
  100% {
    background-position: 490px 0;
  }
}

.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;

  background: #f6f7f8;
  background-image: -webkit-gradient(
    linear,
    left center,
    right center,
    from(#f6f7f8),
    color-stop(0.2, #edeef1),
    color-stop(0.4, #f6f7f8),
    to(#f6f7f8)
  );
  background-image: -webkit-linear-gradient(left, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-size: 980px 898px;
  min-height: 300px;
  position: relative;
}
